{% extends "core/base.html" %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-10 col-sum-6">
            <a href={% url 'post-list' %} class="btn btn-light">Back To Feed</a>
        </div>
    </div>  

    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">
            <div class="text-center">
                <img src="{{ profile.picture.url }}" class="rounded-circle" width="140" height="140" />
                {% if profile.name %}
                <h3 class="py-4">{{ profile.name }}
                    <span>
                        {% if request.user == user %}
                            <a href="{% url 'profile-edit' profile.pk %}" style="color: #333"><i class="far fa-edit"></i></a>
                        {% endif %}
                    </span>
                    {% else %}
                    <h3 class="py-4">{{ user.username }}
                        <span>
                            {% if request.user == user %}
                                <a href="{% url 'profile-edit' profile.pk %}" style="color: #333"><i class="far fa-edit"></i></a>
                            {% endif %}
                        </span>
                    </h3>
                    {% endif %}
                </h3>
            </div>
        </div>
            <div class="row justify-content-center mt-5">
                <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">

                    {% if profile.location %}
                        <p>{{ profile.location }}</p>
                    {% endif %}

                    {% if profile.birth %}
                        <p>{{ profile.birth }}</p>
                    {% endif %}

                    {% if profile.bio %}
                        <p>{{ profile.bio }}</p>
                    {% endif %}
                    
                    <div class="mb-3">
                        <p><a href="{% url 'list-followers' profile.pk %}" style="text-decoration:none;color:#333;">Followers :</a> {{ number_of_followers }}</p>
                        {% if user == request.user %}
                        {% else %}
                        {% if is_following %}
                        <form method="POST" action="{% url 'delete-follower' profile.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger" type="submit">Unfollow</button>
                        </form>
                        {% else %}
                        <form method="POST" action="{% url 'add-follower' profile.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-success" type="submit">follow</button>
                        </form>
                        {%endif%}
                
                        {% endif %}
                    </div>
                </div>
            </div>
        
    </div>
    
</div>
<div class="container">
    {% for post in posts %}
    <div class="row justify-content-center text-left mt-5">
        <div class="col-md-10 col-sum-12 border-bottom">
            
            {% if post.shared_user %}
            <div>
                <a href="{% url 'profile' post.shared_user.profile.pk %}">
                    <img style="float: left; margin-right: 1rem;" class="rounded-circle" height="30" width="30" src="{{ post.shared_user.profile.picture.url }}" />
                </a>
                <p style="padding-left: 0.5rem;">
                    <p><a style="text-decoration: none" class="text-primary" href="{% url 'profile' post.shared_user.profile.pk %}"><strong>@{{ post.shared_user }}</strong></a> shared on {{ post.created_at }}
                    </p>
                </p>
            </div>
            {% else %}
            <div>
                <a href="{% url 'profile' post.auther.profile.pk %}">
                    <img style="float: left; margin-right: 1rem;" class="rounded-circle" height="30" width="30" src="{{ post.auther.profile.picture.url }}" />
                </a>
                <p style="padding-left: 0.5rem;">
                    <a a style="text-decoration: none" class="text-primary" href="{% url 'profile' post.auther.profile.pk %}">@{{ post.auther }}</a> {{ post.created_at }}
                </p>
            </div>
            {% endif %}
            
            {% if post.shared_body %}
            <div class="position-relative border-bottom mb-3">
                <div style="margin-left: 30px;">
                <div class="body"><p>{{ post.shared_body }}</p>
                </div></div>
                
            </div>
            <div style="margin-left: 30px;">
                <a href="{% url 'profile' post.auther.profile.pk %}">
                    <img style="float: left; margin-right: 1rem;" class="rounded-circle" height="30" width="30" src="{{ post.auther.profile.picture.url }}" />
                </a>
                <p style="padding-top: 0.5rem;">
                    <a class="text-primary post-link" href="{% url 'profile' post.auther.profile.pk %}">@{{ post.auther }}</a> {{ post.created_at }}
                </p>
            </div>
            {% endif %}
            <div style="margin-left: 30px;">
                <div class="position-relative pt-3">
                    
                    {% if post.image.count > 0 %}
                        <div class="row">
                            {% for img in post.image.all %}
                                <div class="col-md-4 col-xs-12">
                                    <img src="{{ img.image.url }}" class="post-image" />
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="position-relative">
                        {% if post.image.count > 0 %}
                        <div class="row">
                            {% for img in post.image.all %}
                                <div class="col-md-4 col-xs-12">
                                    <img src="{{ img.image.url }}" class="post-image" />
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="body"><p>{{ post.body }}</p></div>
                        
                        <a href="{% url 'post_detail' post.pk %}" class="stretched-link"></a>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <form method="POST" action="{% url 'add-like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                            <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                        </button>
                    </form>

                    <form method="POST" action="{% url 'dislike' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                            <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                        </button>
                    </form>
                </div>        
            </div>
    </div>   
    {% endfor %}   
</div>
<div class="container">
    <p class="mt-20"></p>
</div>

{% endblock content %}