{% extends 'Home/base.html' %}

{% block content %}
<div class="container">
    <div class="container text-white">
      <div class="row justify-content-center mt-5">
          <div class="col-md-10 col-sm-12 text-center">
              <h1 class="display-2 text-black">To Do </h1>
              <table class="table mb-4 table-striped table-dark"">
                    <thead>
                    <tr>
                        <th scope="col">Tasks</th>
                        <th scope="col">Status</th>
                        <th scope="col">deadline</th>
                        <th scope="col">discription</th>
    
                    </tr>
                    </thead>
    
                    {% if request.user == user %}
                    {% for task in tasks %}
                    {% if  task.status == 'completed' %}
                            <tbody>
                                <tr>
                                    <td> {{ task.task_name }}</td>
                                    <td>{{ task.status }}</td>
                                    <td>{{ task.deadline }}</td>
                                    {% comment %} <td>{{ task.discription }}</td> {% endcomment %}
                                    <td>{{ task.pk }}</td>
                                    
                                </tr>
                            </tbody>
                    {% endif %}        
                    {% endfor %}
              </table>
                
                {% else %}
                <p class="mt-3 lead">Unfortunately, there aren't done tasks yet</p>
                

                {% endif %}
                
            
            <a class="mt-3 btn btn-secondary mr-4" href="{% url 'tasks' %}">Go Home </a>
          </div>
      </div>
  </div>
  </div>
{% endblock %}